{% extends 'base.html' %}
{% load blog_tags %}
{% load staticfiles %}

{% block title %}
    TAO丨项目合作
{% endblock title %}

{% block description %}
    <meta name="description" content="{% get_title category as bigcategory %}{{ bigcategory.description }}"/>
{% endblock description %}

{% block keywords %}
    <meta name="keywords" content="{% get_title category as bigcategory %}{{ bigcategory.keywords }}"/>
{% endblock keywords %}

{% block body %}
    <div class="pagewrapper clearfix">
        <header class="pageheader clearfix">
            <h1 class="pull-left"><a href="https://cuiqingcai.com/project">项目合作</a></h1>
            <div class="pull-right">
                <!-- 百度分享 -->
                <span class="action action-share bdsharebuttonbox">
                    <i class="fa fa-share-alt"></i>分享 (<span class="bds_count" data-cmd="count" title="累计分享0次">0</span>)
                    <div class="action-popover">
                        <div class="popover top in">
                            <div class="arrow"></div>
                                <div class="popover-content">
                                <a href="#" class="sinaweibo fa fa-weibo" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_qzone fa fa-star" data-cmd="qzone" title="分享到QQ空间"></a>
                                    <!--<a href="#" class="tencentweibo fa fa-tencent-weibo" data-cmd="tqq" title="分享到腾讯微博"></a>-->
                                <a href="#" class="qq fa fa-qq" data-cmd="sqq" title="分享到QQ好友"></a>
                                <a href="#" class="bds_renren fa fa-renren" data-cmd="renren" title="分享到人人网"></a>
                                <a href="#" class="bds_weixin fa fa-weixin" data-cmd="weixin" title="分享到微信"></a>
                                <a href="#" class="bds_more fa fa-ellipsis-h" data-cmd="more"></a>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </header>

        <!--<video controls="" style="text-align: center;">
            <source src="https://qny.zhengxingtao.com/media/video/%E5%85%B6%E5%AE%9E%E6%88%91%E6%83%B3%E8%AF%B4%E7%9A%84%E8%BF%98%E6%9C%89%E5%BE%88%E5%A4%9A.mp4" type="video/mp4">
        </video>-->

        <div class="article-content">
            <p>承接各种个人&amp;团队项目</p>
            <p>范围包括但不限于爬虫、Web 开发、价格可谈</p>
            <p>如有意向合作可以加我微信，并注明您的称呼+商务合作，谢谢！</p>
            <img class="aligncenter wp-image-6395 size-medium" src="{% static 'images/index2.jpg' %}" alt="" width="247" height="320" sizes="(max-width: 247px) 100vw, 247px"/>
            <!--<img class="aligncenter wp-image-6395 size-medium" src="{% static 'images/index2.jpg' %}" alt="" sizes="(max-width: 247px) 100vw, 247px"/>-->
        </div>
    </div>
{% endblock body %}